@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav {
    z-index: 99;
    position: relative;
    transition: 0.4s;
}

nav a {
    text-decoration: none;
    /*color: #1f1f1f;*/
    color: #fff;
}

nav .container {
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a {
    font-size: 0.8em;
    text-transform: uppercase;
}

nav .container .menu-btn {
    display: none;
}

.social-media a {
    font-size: 1em;
}

header {
    height: 100vh;
    background: url(../img/devel_guy.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header h1 {
    position: absolute;
    font-size: clamp(3.5rem, 15vw + 1rem, 12rem);
    text-transform: lowercase;
    letter-spacing: 5px;
    font-weight: 700;
    transform: translateY(-50%);
}

.glass {
    position: absolute;
    width: 42%;
    height:  100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.h-glass {
    
    background: url(../img/devel_guy.jpg) center no-repeat fixed;
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 20%;
    right: 0;
    animation: text1 0.8s ease-in forwards;
}

.h-regular {
    color: #fff;
    top: 40%;
    left: 42%;
    animation: text2 0.8s ease-in forwards;
    animation-delay: 500ms;
}

.glass > div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5em;
}

.glass > div div {
    margin: 0 1rem;
}

.glass p {
    color: #ccc;
    font-size: 0.9em;
    line-height: 27px;
    max-width: 27em;
}

.glass h2 {
    color: #fff;
}

.glass a {
    color: #fff;
    text-decoration:  none;
}

.glass a i {
    margin-left: 0.2em;
}

